.idea/
out/
rebuild.sh
test/viadirect.properties
viaexploded/
web/META-INF/
web/web/
lib/
deploy/
TEST-*.txt
testClasses/
itestClasses/
bin/
CVS/
.cvsignore
.classpath
.project
.settings/
.checkstyle
testviaonline.log*
web/WEB-INF/classes/
web/WEB-INF/lib/
web/php/css/*
target/
*.iws
*.iml
*.ipr
/generated
jruby/gems
jruby/generated
rebel.xml
web/WEB-INF/.faces-config.xml.jsfdia
.sonar/
testReports/
tomcat.lnk
WebContent/
build_tmp
via-perflog.log
testData/testDB/
derby.log
testFixtures/
